@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
body {
  margin: 0;
  padding: 0;
}

:root {
  --Lime: hsl(61, 70%, 52%);
  --Lime-1: hsl(61, 70%, 56%);
  --Lime-2: hsl(61, 70%, 82%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.mortage-calculator-form {
  padding: 8px;
}

.label {
  display: inline-block;
  margin-bottom: 8px;
}

.form-item {
  margin-bottom: 16px;
}

.mortage-form--header {
  color: var(--Slate-900);
}

.clear-text {
  display: inline-block;
  margin-bottom: 8px;
  text-decoration: underline;
  color: var(--Slate-700);
}

.form-control {
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.form-select-control {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 12px;
  box-sizing: border-box;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.form-icon {
  display: flex;
  align-items: center;
  background: hsl(202, 86%, 94%);
  padding: 12px;
}

.form-control .input-control {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 32px;
}

input[type="radio"]:checked {
  accent-color: hsl(61, 100%, 30%);
}


.submit-button {
  font-weight: 900;
  margin: auto;
  width: 100%;
  background-color: var(--Lime);
  color: var(--Slate-900);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 16px;
  margin-bottom: 8px;
  font-size: 24px;
  padding: 16px;
}

.mortage-results {
  background: var(--Slate-900);
}

.results-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--White);
}

.result-into-icon {
  margin-top: 16px;
}

.result-intro-para {
  width: 80%;
  text-align: center;
}

.form-select-control.selected {
  background: var(--Lime-2);
  border-color: var(--Lime);
}
